
#container{
  border-radius: 20px;
  background-color: black;
  height: 650px;
  width: 1000px;
  z-index: 0;
  top: 1em;
  left: 4em;
  position: relative;
  display: block;
}

#container:hover{
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto
}

#logo{
  box-shadow: 0px 0px 2px 3px #0ff;
  height:120px;
  width:190px
}

#show-scoreboard{
  float: right;
  top: 1em;
  right: 1em;
  position: fixed;
}

#play{
  float: center;
}

.frown{
  height: 50px;
  width: 50px;
  /* padding-right: 500px; */
  /* animation-name: move-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  position: absolute;
}

.food{
  height: 50px;
  width: 50px;
  object-fit: scale-down;
  /* padding-right: 500px; */
  /* animation-name: move-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  position: absolute;
}

#user{
  margin-top: 20px;
}
li {
  text-align: left;
}

#score-board{
  align-items: center;
}

#loser{
  left: 46%;
  top: 35%;
  border-radius: 10px;
  width: 0px;
  height: 0px;
  background-color: white;
  position: absolute;
  animation-name: changeWidth, changeHeight;
  animation-duration: 2s;
}

#loser > p {
  position: relative;
  top: 30%;
  text-align: center;
  font-size: 30px;
}
@keyframes changeWidth {
  from {width: 0px; }
  to {width: 200px; margin: -50px;}
}

@keyframes changeHeight{
  from{height:0px;}
  to{height:200px; margin: -50px;}
}
